@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Plotly modebar */
.modebar-container {
  opacity: 0.4;
}
.modebar-container:hover {
  opacity: 1;
}
